@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-primaira:white;
    --cor-fonte:black;
    --cor-cabeçalho:#FF9AA1;
}
*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaira);
    color: black;
}
.cabecalho__menu{
    display:flex;
    gap:80px
}
.cabecalho{
    padding: 2% 0% 0% 8%
}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color:black
}
.cabecalho__menu__link:hover{
    color:var(--cor-cabeçalho);
}
.titulo-destaque{
    color: var(--cor-cabeçalho);
}
.apresentacao{
    padding: 08% 08%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-cabeçalho);
    width: 378px;
    text-align: center;
    border-radius: 80px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-cabeçalho);
    font-family: 'Montserrat', sans-serif;
}
.foto-icone{
    width: 30px;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-cabeçalho);
    border: 2px solid var(--cor-primaira);
    color:var(--cor-primaira)
}
.rodape{
    color: var(--cor-primaira);
    background-color: var(--cor-cabeçalho);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
.imagem{
    width: 50%;
    padding: 0% 0% 19% 0%
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: 100%;
    }
    .imagem{
        width: 100%;
        padding: 0% 0% 10% 0%
    }
}